.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  font-size: 35px;
}

.following {
  border: 1px solid #3e3e3e;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  margin: 20px 0px;
}

.following:hover {
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

.following h3 {
  font-size: 24px;
}
