.tweet {
  border: 1px solid #1d1d1d;
  padding: 20px;
  border-radius: 5px;
  margin: 40px 0px;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #e8e8e8;
}

.tweet_stats {
  display: flex;
  justify-content: space-between;
}

.tweet_date,
.tweet_like {
  font-weight: 300;
  color: #535353;
}
